<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Shows</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">

</head>

<body>
<style>
 #pagination {
  display: inline-block;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
</style>

<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <form action="/register" method="POST">
            <button type="submit" id="bt_register">Register</button>
            </form>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Shows</h1>
        <div class="card">
            <table class="sortable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Runtime (min)</th>
                        <th>Rating</th>
                        <th>Genres</th>
                        <th>Trailer</th>
                        <th>Homepage</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td>
                            {{row['id']}}
                        </td>
                        <td>
                            <a href="/show/{{row['id']}}">{{row['title']}}</a>
                        </td>
                        <td>
                            {{row['year']}}
                        </td>
                        <td>
                            {{row['runtime']}}
                        </td>
                        <td>
                            {{row['rating']}}
                        </td>
                        <td>
                            {{row['genre']}}
                        </td>
                        {% if row['trailer'] == None%}
                            <td>
                            No URL
                            </td>
                        {% else %}
                            <td>
                                {{row['trailer']}}
                            </td>
                        {% endif %}
                        {% if row['homepage'] == None%}
                            <td>
                            No URL
                            </td>
                        {% else %}
                            <td>
                                {{row['homepage']}}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card" id="pagination">
            <a href="{{page-1}}">&laquo;</a>
            <a id="1" href="/shows/most-rated/1">1</a>
            <a id="2" href="/shows/most-rated/2">2</a>
            <a id="3" href="/shows/most-rated/3">3</a>
            <a id="4" href="/shows/most-rated/4">4</a>
            <a id="5" href="/shows/most-rated/5">5</a>
            <a id="6" href="/shows/most-rated/6">6</a>
            <a id="7" href="/shows/most-rated/7">7</a>
            <a id="8" href="/shows/most-rated/8">8</a>
            <a id="9" href="/shows/most-rated/9">9</a>
            <a id="10" href="/shows/most-rated/10">10</a>
            <a id="11" href="/shows/most-rated/11">11</a>
            <a id="12" href="/shows/most-rated/12">12</a>
            <a href="{{page+1}}">&raquo;</a>
        </div>
    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>